# MODELO CLASSIFICATÓRIO

importando as bibliotecas necessárias

In [21]:
import pandas as pd
from sklearn import datasets
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
import numpy as np

 ### Fazendo a leitura dos dados e filtragem dos dados

Selecionaremos a quantidade de cômodos e quantidade de camas para prever o tipo de acomodação

In [26]:
df = pd.read_csv('listings.csv', sep = ',') # fazendo a leitura dos dados
new_dataframe = df[[ 'accommodates', 'beds', 'room_type',]]  #escolhendo as features que iremos trabalhar
case_df = new_dataframe.dropna() #removendo dados onde alguma das iformações seja inexistente
case_df

       accommodates  beds        room_type
0                 5   2.0  Entire home/apt
1                 2   1.0  Entire home/apt
2                 2   2.0  Entire home/apt
3                 2   1.0  Entire home/apt
4                 2   1.0  Entire home/apt
...             ...   ...              ...
23630             6   3.0  Entire home/apt
23631             4   2.0  Entire home/apt
23632             8   6.0  Entire home/apt
23633             6   6.0  Entire home/apt
23634             4   2.0  Entire home/apt

[23407 rows x 3 columns]

Criaremos então um índice classificatório para o modelo

In [27]:
indx = {'Entire home/apt' : 0,'Hotel room' : 1, 'Private room' : 2, 'Shared room' : 3} # classificando os tipos de quartos

column_idx = case_df['room_type'].map(indx) # criando uma nova coluna com os indices

case_df_indx =  case_df.assign(idx_room_type = column_idx) #criando um novo dataframe com a nova coluna 

case_df_indx

       accommodates  beds        room_type  idx_room_type
0                 5   2.0  Entire home/apt              0
1                 2   1.0  Entire home/apt              0
2                 2   2.0  Entire home/apt              0
3                 2   1.0  Entire home/apt              0
4                 2   1.0  Entire home/apt              0
...             ...   ...              ...            ...
23630             6   3.0  Entire home/apt              0
23631             4   2.0  Entire home/apt              0
23632             8   6.0  Entire home/apt              0
23633             6   6.0  Entire home/apt              0
23634             4   2.0  Entire home/apt              0

[23407 rows x 4 columns]

### Separando os dados para treinos e teste

In [28]:
train, test = train_test_split(case_df_indx, train_size=0.8) # 80% para treino / 20% para teste

X_train = np.array(train.iloc[:,0:2])
X_test = np.array(test.iloc[:,0:2])
y_train = np.array(train['idx_room_type'])
y_test = np.array(test['idx_room_type'])

### Treinando o modelo KNN (k-nearest neighbors) classifier

Para este tipo de dado, o qual a classificação não é binária, usaremos então ao modelo de classificação KNN (k-nearest neighbors), vamos considerando o valor de K variando de 1 a 10 e sua respectivas acurácia.

In [36]:
for k in range(1,11):
    knn = KNeighborsClassifier(n_neighbors = k).fit(X_train, y_train.ravel()) 
    accuracy_knn = knn.score(X_test, y_test)
    print ('Para K = %s Acurácia do modelo KNN: %s' %(k, accuracy_knn))

Para K = 1 Acurácia do modelo KNN: 0.74263135412217
Para K = 2 Acurácia do modelo KNN: 0.7729602733874412
Para K = 3 Acurácia do modelo KNN: 0.7753096967108073
Para K = 4 Acurácia do modelo KNN: 0.7761640324647586
Para K = 5 Acurácia do modelo KNN: 0.7642033319094405
Para K = 6 Acurácia do modelo KNN: 0.7556599743699274
Para K = 7 Acurácia do modelo KNN: 0.7543784707390004
Para K = 8 Acurácia do modelo KNN: 0.7558735583084152
Para K = 9 Acurácia do modelo KNN: 0.7558735583084152
Para K = 10 Acurácia do modelo KNN: 0.7774455360956856